.experienceContainer {
    position: relative;
    z-index: 0;
    min-height: 100vh;
    width: 100%;
}

.headerWrapper {
    text-align: center;
    padding: 0 20px;
    max-width: 1280px;
    margin: 0 auto 60px;
}

.sectionSubText {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #aaa6c3;
    margin-bottom: 1rem;

    @media (min-width: 640px) {
        font-size: 3rem;
    }
}
.sectionHeadText {
    font-size: 1rem; /* Decreased font size */
    font-weight: 300;
    color: white;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%; /* Ensures it takes full width for centering */

    @media (min-width: 640px) {
        font-size: 4rem; /* Adjust this as needed for larger screens */
    }
}


.timelineContainer {
    padding-top: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.timelineElement {
    margin: 2rem 0;

    :global {
        .vertical-timeline-element-date {
            color: #d4d4d4;
            font-size: 1.5rem !important;
            font-weight: 500 !important;

            @media (min-width: 768px) {
                font-size: 2rem !important;
            }
        }
    }
}

.cardContent {
    .title {
        font-size: 1rem;
        font-weight: 400;
        color: white;
        margin-bottom: 1rem;

        @media (min-width: 768px) {
            font-size: 2rem;
        }
    }

    .company {
        font-size: 0.75rem;
        font-weight: 100;
        color: #d4d4d4;
        margin-bottom: 1.5rem;

        @media (min-width: 768px) {
            font-size: 2rem;
        }
    }

    .pointsList {
        list-style: none;
        padding: 0;
        margin: 2rem 0 0;

        .point {
            font-size: 1.25rem;
            color: #d4d4d4;
            padding-left: 1.5rem;
            position: relative;
            margin-bottom: 1rem;
            line-height: 1.6;
            text-align: left;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0.8rem;
                width: 0.5rem;
                height: 0.5rem;
                background-color: #d4d4d4;
                border-radius: 50%;
            }

            @media (min-width: 768px) {
                font-size: 1.5rem;
            }
        }
    }
}
